@font-face {
  font-family: "EuclidCircularB";
  src: url("../src/Assets/fonts/Euclid\ Circular\ B\ Medium.ttf");
  
  }

*{
  font-family: "EuclidCircularB";
}
body{
background-image: url(./Assets/7xm.xyz390004.jpg);
overflow: hidden;
}
